[Desktop Entry]
Encoding=UTF-8
Name=raspberry Pi3に複数のwifiへ自動接続してもらう | ページ 2 | かめねこ記録へのリンク
Type=Link
URL=https://www.kameneko.com/raspberrypi3-wifi-wpasupplicant/2/
Icon=text-html
